= form_for @developer do |f|
  - if @developer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@developer.errors.count, "error")} prohibited this developer from being saved:"
      %ul
        - @developer.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :level
    = f.text_field :level
  .form-group
    = f.label :avatar
    = f.file_field :avatar
  .field
    = f.label :techs
    = f.collection_check_boxes(:techs, Technology::AVAILABLES, :first, :last) do |opt|
      .form-check.form-check-inline
        = opt.check_box class: 'form-check-input', checked: f.object.techs.include?(opt.object&.first&.to_s)
        = opt.label class: 'form-check-label'
  .actions
    = f.submit 'Save'
