.app_content-header
  %h4 Proyectos
  - if admin?
    = link_to 'Nuevo proyecto', new_project_path, class: 'btn btn-custom btn-sm'
.container-fluid
  .row
    - @projects.each do |project|
      .col-lg-4
        .project_card
          .project_card-header
            .project_card-label
              .project_card-info
                = link_to project, class: 'project_card-title' do
                  = project.title
                %span.badge.badge_custom.red= project.status
            .project_card-toolbar
              %a.btn.btn-clean.btn-sm.btn-icon.btn-icon-md{"data-toggle" => "dropdown", href: "#"}
                %i.fa.fa-ellipsis-h
              .dropdown-menu.dropdown-menu-fit.dropdown-menu-right
                %ul
                  %li
                    = link_to edit_project_path(project) do
                      %i.fa.fa-pencil
                      %span Editar
                  %li
                    = link_to project, method: :delete, data: { confirm: 'Are you sure?' } do
                      %i.fa.fa-trash
                      %span Eliminar
          .project_card-body
            .body-stats
              .body-item
                %span.body-item-span Inicio
                .body-label.start-date
                  %span= project.start_date.strftime('%d %b, %y')
              .body-item
                %span.body-item-span Fin
                .body-label.due-date
                  %span= project.due_date.strftime('%d %b, %y')
              .body-item
                %span.body-item-span Desarrolladores
                .members-avatar
                  - project.developers.each do |dev|
                    = link_to dev do
                      .avatar-img{ "data-toggle"=>"tooltip", "data-placement"=>"bottom", title: dev.name }
                        = image_tag(dev.avatar) if dev.avatar.attached?
                
          .project_card-footer
            .flex-fill
              - task_progress = 0
              - task_progress = ((project.tasks.completed.size.to_f / project.tasks.size.to_f) * 100).round unless project.tasks.count.zero?
              %span Progress
              .d-flex.align-items-center
                .progress{style: "height: 5px;width: 100%;"}
                  .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => task_progress, role: "progressbar", style: "width: #{task_progress}%;"}
                %span
                  = task_progress.to_s + '%'
