%p#notice= notice
= link_to 'Back', projects_path
.container
  .row
    .col-lg-12
      .project_card
        .project_card-header
          .project_card-label
            .project_card-media
              %span.media-circle
                = image_tag(@project.logo_image) if @project.logo_image.attached?
            .project_card-info
              = link_to @project, class: 'project_card-title' do
                = @project.title
          .project_card-actions
            = link_to 'Editar', edit_project_path(@project), class: 'btn btn-custom btn-sm'
            = link_to 'Eliminar', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-custom btn-sm'
        .project_card-body
          .body-stats
            .body-item
              %span.body-item-span Inicio
              .body-label.start-date
                %span= @project.start_date.strftime('%d %b, %y')
            .body-item
              %span.body-item-span Entrega
              .body-label.due-date
                %span= @project.due_date.strftime('%d %b, %y')
            .body-item.flex-fill
              %span Progreso
              .d-flex.align-items-center
                .progress{style: "height: 5px;width: 100%;"}
                  .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "100", role: "progressbar", style: "width: 78%;"}
                %span
                  78%
          .project_card-desc
            %span= @project.description
        .project_card-footer
          .project_card-footer-item
            %i.fa.fa-book
            %span
              = @project.requirements.count
              Requerimientos
          .project_card-footer-item
            - @project.techs.each do |tech|
              %span.badge.badge-primary= tech
    .col-lg-12
      .project_card
        .project_card-header
          .project_card-label
            %i.fa.fa-list-ul
            .project_card-info
              %h5 Requerimientos
          #open.btn.btn-custom Agregar +
          #close.btn.btn-custom{style:'display:none'} Cerrar
        %ul
          - @project.requirements.each do |req|
            %li
              = link_to req.title, req
              = link_to req, method: :delete, data: { confirm: 'Are you sure?' } do
                %i.fa.fa-trash
        = form_for @project do |f|
          #requirements
            = f.fields_for :requirements do |requirement|
              = render 'requirement_fields', f: requirement
            .links
              = link_to_add_association 'add requirement', f, :requirements
            = f.submit
    .col-lg-12
      .project_card
        .project_card-header
          .project_card-label
            %i.fa.fa-files-o
            .project_card-info
              %h5 Archivos
        - @project.files.each do |file|
          %a{href:"#{rails_blob_url(file)}"} Archivos
:javascript
  $("#open").click(function () {
      $("#requirements").show("slow");
      $("#open").css('display','none');
      $("#close").css('display','block');
  });
  $("#close").click(function () {
      $("#requirements").hide("slow");
      $("#close").css('display','none');
      $("#open").css('display','block');
  });
:css
  #requirements {
    display: none;
  }