.app_content-header
  %h4 Tablero General
.container-fluid
  .row
    .col-lg-6
      .project_card
        .project_card-header
          .project_card-title Cantidad de proyectos
        .project_card-body
          %ul.list-group
            %li.list-group-item.d-flex.justify-content-between
              %span.badge.badge_custom.red Freeze
              = Project.is_state('freeze').size.to_s + ' proyectos'
            %li.list-group-item.d-flex.justify-content-between
              %span.badge.badge_custom.yellow Planning
              = Project.is_state('planning').size.to_s + ' proyectos'
            %li.list-group-item.d-flex.justify-content-between
              %span.badge.badge_custom.blue Doing
              = Project.is_state('doing').size.to_s + ' proyectos'
            %li.list-group-item.d-flex.justify-content-between
              %span.badge.badge_custom.blue IQC
              = Project.is_state('iqc').size.to_s + ' proyectos'
            %li.list-group-item.d-flex.justify-content-between
              %span.badge.badge_custom.blue Verify Client
              = Project.is_state('verify_client').size.to_s + ' proyectos'
            %li.list-group-item.d-flex.justify-content-between
              %span.badge.badge_custom.green Done
              = Project.is_state('done').size.to_s + ' proyectos'
    .col-lg-6
      .project_card
        .project_card-header
          .project_card-title Disponibilidad de Desarrolladores
        .project_card-body
          %ul.list-group.mb-0
            - @developers.each do |dev|
              %li.list-group-item
                .clearfix
                  .float-left
                    %strong
                      = dev.progress.to_s + '%'
                    %strong
                      |
                    = dev.tasks.size.to_s + ' tareas'
                    %strong
                      |
                    = dev.tasks.completed.size.to_s + ' tareas completadas'
                  .float-right
                    %small.text-muted= dev.name
                .progress.progress-xs{style: "height: 5px;"}
                  .progress-bar.bg-azure{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => dev.progress, role: "progressbar", style: "width: #{dev.progress}%"}
