!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title ProjectManagerApp
    = csrf_meta_tags
    = csp_meta_tag
    %link{ href: "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel: "stylesheet" }
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    %script{ src: "https://use.fontawesome.com/70a3cb5d53.js" }
    %script{ src: "https://code.jquery.com/jquery-3.3.1.min.js" }
    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" }
    %script{ src: "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" }
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %section.wrapper_app
      .app_navbar
        %nav.navbar.app_navbar-top
          %a.navbar-brand{href: "/"} APP
          - if user_signed_in?
            %form.form-inline.my-2.my-lg-0
              .input-group
                %input.form-control.mr-sm-2{"aria-label" => "Search", placeholder: "Search", type: "search"}/
                .input-group-append
                  %button.btn{type: "submit"}
                    %i.fa.fa-search
          %ul.navbar-nav
            - if user_signed_in?
              %li.nav-item.active
                = link_to destroy_user_session_path, method: :delete do
                  Cerrar sesion
                  %i.fa.fa-power-off
        - if user_signed_in?
          %nav.navbar.navbar-expand-lg.navbar-light
            %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", type: "button"}
              %span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
              %ul.navbar-nav
                %li.nav-item
                  %a.nav-link{href: "/"} Tablero General
                %li.nav-item
                  %a.nav-link{href: "/projects"} Proyectos
                - if admin?
                  %li.nav-item
                    %a.nav-link{href: "/developers"} Desarrolladores
      .app_content
        = yield
